*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    background:#F3F1FF;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
.container{
    max-width:930px;
    width:100%;
    padding: 0px 30px;
    margin:0 auto;

}
.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.title{
    padding-bottom: 40px;
}
.title h2{
    font-size:24px;
    line-height:36px;
    font-weight:500;
    text-transform: capitalize;
    color: #562EFF;

}
